<!-- <p>demo works!{{text.name}}</p>
<h3>{{text.age}}</h3>
<h5>{{appService.count}}</h5> -->
<!-- <h5>input decorator takeing data from parent to child component {{titel}}</h5>
<button (onclick)="senddata()">send child to parent</button> -->
<h1>DEMO POC</h1>
  <div class="topnav">
    <a  routerLink="/">Home</a>
    <a routerLink="/saveuser">Save User</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/view">View</a>
    <a routerLink="/about">About</a>  
    <a routerLink="/contact">Contact</a> 
    <a routerLink="/login" style="float: right;">LogIn</a>
    <a *ngIf="isLogin" (click)="logout()" style="float: right;">Sign Out</a>
   
</div>
  
  
<!-- 
<ag-grid-angular 
    style="width: 1300px; height: 300px; align-items: center; margin: auto" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs" 
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="5"
    rowSelection="multiple"
 
     
    ></ag-grid-angular> -->
    <!-- (selectionChanged)="onSelectionChanged()" -->
 <!-- (gridReady)="onGridReady($event)" -->
<!-- <button (click)="getselected()" >getselectedData</button>
<h1>file count {{appService.count}}</h1>
<button (click)="appService.increment()">increase</button>
<input id="name" (change)="print($event)"> -->

<!-- 
<ul>
  <li>
    <router-outlet></router-outlet>
  </li>
</ul> -->