<h1 align="center">User profile </h1>

<div class="topProfile">
    <div id="profilePic">
        <!-- <span class="material-icons fa-5x" id="personIcon">person_add</span> -->
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />
    </div>
    <div id="UserDetails">
        <table  >
            <tr>
              <td ><b>UserName:</b></td>
              <td >{{name}}</td>
            </tr>
            <tr>
              <td><b>MailId:</b></td>
              <td>{{emailId}}</td>
              <tr>
                <td><b>Password:</b></td>
                <td>{{pws}} </td>
              </tr>
              <tr>
                <td><b>product:</b></td>
                <td>{{product}}</td>
              </tr>
            
          </table>
    </div>
</div>