ul li{
    list-style-type: none;
    padding-bottom: 10px;
}

.ag-header-cell-text{
    font-size: 18px;
}
.ag-theme-balham{
    --ag-foreground-color: rgb(10, 10, 10);
    --ag-background-color: rgba(248, 250, 249, 0.984);
    --ag-header-foreground-color: rgb(19, 19, 19);
    --ag-header-background-color: rgb(43, 112, 185);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(210, 227, 232);
    
    
    --ag-font-family: monospace;
}
ag-grid-angular {
    font-size : 18px;
}