<div class="container" style="margin-left: auto;/* margin-block: 38px; */margin-right: auto;"> 
    <h1 align="center">User Details</h1>
      <form [formGroup]="userdata" (ngSubmit)="updateUser()">
        <div class="form-group">
          
      <label for="name"><b>Name</b></label>
      <input type="text" name="name" id="name" class="form-control" placeholder="UserName" formControlName="name">
    </div>
      <label for="email"><b>Email</b></label>
      <input  type="email" placeholder="email" formControlName="email">
      <label for="Password"><b>Password</b></label>
      <input  type="password" placeholder="Password" formControlName="pws">
      <label for="productName"><b>ProductName</b></label><br>
  <mat-form-field  >
    <select matNativeControl required formControlName="productName"> 
      <option value="Mobile">Mobile</option>
      <option value="PC">PC</option>
      <option value="Laptop">Laptop</option>
    </select>
  </mat-form-field><br>
  
       <label for="userEndDate"><b>UserEndDate</b></label>
      <input type="date" placeholder="mm/dd/yyyy" formControlName="userEndDate"><br>
      <label for="userStartDate"><b>UserStartDate</b></label>
      <input type="date" placeholder="mm/dd/yyyy" formControlName="userStartDate"><br>
  
      <input type="submit"   value="Submit" />
      
      
    </form>
  </div>
  
  
